<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Thêm khách hàng</title>
</head>
<body>
    <form action="/luu-khach-hang" method="post">
        <input type="text" name="TenKhachHang" placeholder="Tên khách hàng">
        <input type="text" name="SoDienThoai" placeholder="Số điện thoại">
        <input type="text" name="DiaChi" placeholder="Địa chỉ">
        <button type="submit">SUBMIT</button>
    </form>

</body>
</html>